-var pageTitle="Чат"
extends layout/page.jade
block append scripts
   script(src="/vendor/bower_components/socket.io-client/dist/socket.io.js")
   script(src="/js/chat/rooms.js")
   script(src="/js/chat/membersList.js")
   script(src="/js/chat/chat.js")
block append stylesheets
   link(rel="stylesheet" href="/css/chat.css")

block body
   #main-container
      #left
         #logo
            a(href="/")
         #chats
            h4 CHATS
            ul
               li.hoverable All
               li.hoverable my-group
               li.hoverable Пацаны
         #me
            |Здесь должны появится:
            |Аватар
            |Логин
            |(Статус)

      #right
         #right-header
            h3 Список пользователей
         #right-content
            #members-list
               span online:
               ul#online-users
               span offline:
               ul#offline-users


      #center.container-fluid
         #messages.row
         #message-input.row
            textarea#input.col-xs-10(maxlength="4000" disabled tabindex="1")
            .col-xs-1
               .smile-icon
