-var pageTitle="Чат"
extends layout/page.jade
block append scripts
   script(src="/vendor/bower_components/socket.io-client/dist/socket.io.js")
   script(src="/js/chat/rooms.js")
   script(src="/js/chat/membersList.js")
   script(src="/js/chat/history.js")
   script(src="/js/chat/chat.js")
block append stylesheets
   link(rel="stylesheet" href="/css/chat.css")

block body
   #main-container
      #left
         #logo
            a(href="/")
         #chats
            h4 CHATS
            ul#roomsList
            form#newRoom
               input(type="text" name="roomName" maxlength="32" required)
               button(type="submit")
                  span.glyphicon.glyphicon-ok
               button.dismiss(type="button")
                  span.glyphicon.glyphicon-remove
               span.help-block.error
            .btn.btn-sm.hoverable#addRoom Создать комнату
         #me
            #avatar
            #login
            #menu.dropdown
               button.btn.btn-default.dropdown-toggle#dropdownMenu2(type="button" data-toggle="dropdown" aria-expanded="false")
                  span.caret
               ul.dropdown-menu.up(role="menu" aria-labelledby="dropdownMenu2")
                  li(role="presentation")
                     a#historyButton(role="menuitem" tabindex="-1")
                        span.glyphicon.glyphicon.glyphicon-envelope
                        |&nbsp;История сообщений
                  li(role="presentation")
                     a(role="menuitem" tabindex="-1" href="" onclick='window.open("/account", "_blank");return false;')
                        span.glyphicon.glyphicon-cog
                        |&nbsp;Настройки аккаунта
                  li(role="presentation")
                     a(role="menuitem" tabindex="-1" href="" onclick="$('<form method=POST action=/logout>').appendTo('body').submit();return false") Выйти
      #right
         #right-header
            h3 Список пользователей
         #right-content
            #members-list
               span online:
               ul#online-users
               span offline:
               ul#offline-users
            #room-controls
               .btn.btn-xs.btn-success#invite
                  | Пригласить пользователей
               .btn.btn-xs.btn-danger#leaveRoom
                  | Покинуть комнату

      #center.container-fluid
         #messages.row
         #message-input.row
            textarea#input.col-xs-10(maxlength="4000" disabled tabindex="1")
            .col-xs-1
               .smile-icon

   #inviteModal.modal.fade(tabindex="-1" role="dialog" aria-labelleby="inviteModalLabel")
      .modal-dialog
         .modal-content
            .modal-header
               button.close(type="button" data-dismiss="modal" aria-label="Close") &times;
               h4#inviteModalLabel.modal-title Пригласить пользователей
            form
               .modal-body
                  .form-group
                     label(for="invitedUsers") Список пользователей
                     br
                     select#invitedUsers(multiple="multiple" size="15" name="invitedUsers[]" required)
               .modal-footer
                  button.btn.btn-default(type="button" data-dismiss="modal") Отмена
                  button.btn.btn-primary(type="submit") Пригласить
   #historyModal.modal.fade(tabindex="-1" role="dialog" aria-labelleby="historyModalLabel")
      .modal-dialog
         .modal-content
            .modal-header
               button.close(type="button" data-dismiss="modal" aria-label="Close") &times;
               h4#historyModalLabel.modal-title История сообщений
            .modal-body
               table#history.table.table-condensed.table-hover.table-striped
                  thead
                     tr
                        th Дата
                        th Пользователь
                        th Сообщение
                  tbody


