.tab-container{
    background-color: #fff;
    border-color: #ddd;
    border-width: 1px;
    border-radius: 4px 4px 0 0;
    padding: 45px 15px 15px;
    margin: 0 -15px 15px;
    border-style: solid;
}

.tab-pane.active {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 5px;
}

.basic-form {
    max-width: 330px;
    padding: 15px;
}

.basic-form .form-control {
    position: relative;
    /*height: auto;*/
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    /*font-size: 16px;*/
}

.basic-form button[type="submit"] {
    margin-top: 10px;
    background-color: #33B758;
    border-color: #066712;
}

textarea {
    resize: vertical;
}

#avatar-preview {
    width: 48px;
    height: 48px;
    background: url("/img/default-ava.png");
    background-size: cover;
}

.progress{
    margin: 10px 0 0 0;
}

#storageSize {
    text-align: right;
}

li > button.close {
    float: right;
    clear: right;
}

li > .close {
    float: none;
}